#parent {
    display: flex;
    align-items: center;
}   

#title {
    font-family: 'Play', sans-serif;
    font-size: 5em;
    display: flex;
    align-items: center;
    margin:'0 auto';
    padding:0px;
}

#icon {
    display:'inline-block'
}
#text {
     font-family: 'Play', sans-serif;
}


#sub-title{
    font-family: 'Play', sans-serif;
    font-size: 2em;
    display: flex;
    align-items: center;
    margin:'0 auto';
    padding:0px;
}

.yes-no-pie-container {
    display:block;
    // position: relative;
    white-space: normal;
    // vertical-align: top;
    width:'100%';
    // border: 1px blue dashed;
}

.yes-no-pie {
    font-family: 'Play', sans-serif;
    font-size: 2em;
    display:inline-block;
    width: 50%;
    max-width: 50%;
    vertical-align: top;
    // border: 1px red dashed;
}

.no-data {
    font-family: 'Play', sans-serif;
    font-size: 2em;
    display: block;
    width: 50%;
    // vertical-align: top;
    white-space: nowrap;
    margin:'auto';
    // border: 1px green dashed;
}

.yes-no-pies-legend {
    font-family: 'Play', sans-serif;
    font-size: 2em;
    margin: 0 auto;
}

.no-votes{
    vertical-align: middle;
}



.endless-scroller {
    height:700px; 
    overflow:auto;
}

.category-card-actions {
    height: 3em;
}

.help-card-actions{
    height:2em;
}

.user-card-header {
    height: 3em;
}

.yes-no-votes-title{
    font-size: 3em;
}

