body{
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
}
// #nav-space{
//     width: 100%;
//     height: 6px;
//     background-color: white;
//     color: white;
//     position: fixed;
//     z-index: -2;
// }

#parent {
    display: flex;
    align-items: center;
}  

#nav-bar {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top:0;
}

#explore-bar {
    top:0;
    padding-top: 62px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
}

#explore-bar-clear{
    height:50px;
}

#quick-scroll{
    color:white;
    position:fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 20;
}

#nav-clear {
    height:83px;
}


#title {
    font-family: 'Play', sans-serif;
    font-size: 5em;
    display: flex;
    align-items: center;
    margin:'0 auto';
    padding:0px;
}

#icon {
    display:'inline-block'
}
#text {
     font-family: 'Play', sans-serif; 
}
 

#sub-title{
    font-family: 'Play', sans-serif;
    font-size: 2em;
    display: flex;
    align-items: center;
    margin:'0 auto';
    padding:0px;
}

.yes-no-pie-container {
    display:block;
    // position: relative;
    white-space: normal;
    // vertical-align: top;
    width:'100%';
    // border: 1px blue dashed;
}

.yes-no-pie {
    font-family: 'Play', sans-serif;
    font-size: 2em;
    display:inline-block;
    width: 50%;
    max-width: 50%;
    vertical-align: top;
    // border: 1px red dashed;
}

.no-data {
    font-family: 'Play', sans-serif;
    font-size: 2em;
    display: block;
    width: 50%;
    // vertical-align: top;
    white-space: nowrap;
    margin:'auto';
    // border: 1px green dashed;
}

.yes-no-pies-legend {
    font-family: 'Play', sans-serif;
    font-size: 2em;
    margin: 0 auto;
}

.no-votes{
    vertical-align: middle;
}



.endless-scroller {
    height:700px; 
    overflow:auto;
}

.category-card-actions {
    height: 3em;
}

.help-card-actions{
    height:2em;
}

.user-card-header {
    height: 3em;
}

.yes-no-votes-title{
    font-size: 3em;
}

